<div class="container mt-5" style="max-width: 400px;">
  <div class="card shadow p-4">
    <h3 class="text-center mb-4 text-primary">REMS Giriş</h3>

    <div *ngIf="hataMesaji" class="alert alert-danger">
      {{ hataMesaji }}
    </div>

    <div class="d-flex bg-light p-1 rounded-pill mb-4 border">
      <button type="button" class="btn btn-sm w-50 rounded-pill fw-semibold"
              [ngClass]="aktifSekme === 'login' ? 'btn-primary shadow-sm text-white' : 'text-secondary border-0'"
              (click)="sekmeDegistir('login')">Giriş Yap</button>
      <button type="button" class="btn btn-sm w-50 rounded-pill fw-semibold"
              [ngClass]="aktifSekme === 'register' ? 'btn-primary shadow-sm text-white' : 'text-secondary border-0'"
              (click)="sekmeDegistir('register')">Kayıt Ol</button>
    </div>

    <div *ngIf="basariMesaji" class="alert alert-success py-2 small mb-3">
      {{ basariMesaji }}
    </div>

    <form *ngIf="aktifSekme === 'login'" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label class="form-label">E-posta Adresi</label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Şifre</label>
        <input type="password" class="form-control" [(ngModel)]="sifre" name="sifre" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
    </form>

    <form *ngIf="aktifSekme === 'register'" (ngSubmit)="onRegister()">
      <div class="mb-2">
        <label class="form-label small fw-bold text-secondary">Ad Soyad</label>
        <input type="text" class="form-control form-control-sm bg-light" [(ngModel)]="registerAdSoyad" name="registerAdSoyad" placeholder="Adınız ve Soyadınız" required>
      </div>
      <div class="mb-2">
        <label class="form-label small fw-bold text-secondary">E-posta Adresi</label>
        <input type="email" class="form-control form-control-sm bg-light" [(ngModel)]="registerEmail" name="registerEmail" placeholder="ornek@rems.com" required>
      </div>
      <div class="mb-3">
        <label class="form-label small fw-bold text-secondary">Şifre Belirleyin</label>
        <input type="password" class="form-control form-control-sm bg-light" [(ngModel)]="registerSifre" name="registerSifre" placeholder="8-12 karakterli şifre" required>
        <div class="form-text text-muted" style="font-size: 10px;">
          * Şifre 8-12 karakter olup en az 1 harf, 1 rakam ve 1 özel karakter içermelidir (Örn: Sifre123!).
        </div>
      </div>
      <button type="submit" class="btn btn-success w-100 py-2 fw-semibold text-white" [disabled]="yukleniyor">
        <span *ngIf="yukleniyor" class="spinner-border spinner-border-sm me-1"></span>
        Kayıt Ol
      </button>
    </form>
  </div>
</div>